body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

#wrap {
width:100%;
margin:0 auto;
background:#ffffff;
}
#nav {
background:#eeeeee;
padding:5px 10px;
}
#nav ul {
margin:0;
padding:0;
list-style:none;
}
#nav li {
display:inline;
margin:5px;
padding:0;
}
#main {
float:left;
width:100%;
background:#ffffff;
/*border:1px dashed;*/
padding:5px;
}
#content {
	width:75%; 
	/*border: 1px solid red;*/ 
	float: left;
}
#sidebar {
float:right;
width:24%;
background:#eeeeee;
padding:5px;
}
#header {
padding:5px;
background:#ddd;
font-size:18px;
font-weight:bold;
}
#footer {
clear:both;
background:#57a900;
padding:1px 1px;
height:20px;
}


